<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>天気の子メーカー</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:title" content="天気の子メーカー" />
  <meta property="og:site_name" content="天気の子メーカー" />
  <meta property="og:image" content="https://res.cloudinary.com/dg61muele/image/upload/v1565793922/lyawtemx9utybkadcehl.png" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5ac9533b42.js"></script>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h1 class="text-center my-3">天気の子メーカー</h1>
    <p class="text-center mb-5">白い背景で撮影した写真をアップロードしよう！</p>
  </div>
  <div class="row">
    <div class="mx-auto">
      <form action="/new" method="post" enctype="multipart/form-data">
        <span class="title"><input type="text" name="text">の子を作る！</span><br>
        <input type="file" name="file"><br>
        <button type="submit"><i class="far fa-paper-plane"></i></button>
      </form>
    </div>
  </div>
  <a href="<%= session[:url] %>"><img src="<%= session[:url] %>"></a>
</div>
</body>


</html>